<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <header>
        <h2><a href="#" class="logo">LOGO</a></h2>
        <div class="navigation">
            <a href="../index.html">Home</a>
            <a href="About.html">About</a>
            <a href="#">Courses</a>
            <a href="#">Team</a>
            <a href="#">Contact us</a>
      

     </header>
</body>
</html>