@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
   
}
.navbar{
    position:relative;
    width: 100%;
    padding:10px 10px;
  
}
.max-width{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 90px;
    
}
.navbar .logo{
   height: 50px;
   position: relative;
   margin:0 35px;
   
}
.navigation a{
    
    position: relative;
    list-style: none;
    padding: 10px 10px;
    margin: 0 10px;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
   

}
.main {
    display: flex;
    height:50vh;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    background: linear-gradient(180deg, #f1faee, #5eade7, #4567f0);
}
.home-content{
    margin-top:100px;
    position: relative;
}
.main img{
    height: 250px;
    width:550px;
    margin-top: 48px;
    margin-bottom: 20px;
    position: relative;
    padding-right: 40px;
    padding-top: 10px; 
}

button {
    background-color: rgb(63, 166, 240);
    box-shadow: 10px color(white);
    letter-spacing: 1px;
    text-decoration: none ;
    color:white;
    padding: 5px 15px;
    place-items: center;
    font-size: 15px;
    font-weight: 700;
    border:solid black;
    border-radius: 14px;
    transition: 0.3s , box-shadow 0.2s; 
}


button:hover{
    background-color: #4567f0;
    color: #090909;
    border-radius: 20px;
    box-shadow: #f1faee;
}

.wrapper {
    height: 70vh;
    place-items: center;
    display:grid;
   
  }
.typing-demo {
    width: 18ch;
    margin-bottom:170px;
    white-space: nowrap;
    font-family: monospace;
    font-size: 2em;
  }
  
.wrapper .text-2{
    font-weight: bold;
    display:fixed;
}
.services, .teams{
    color:#090909;
    background: #f1f0f0;
}

.teams .title::before{
    color: #050505;
}

.teams .title::after{
    color: #498ef0;
    
}
.services .title{
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    
}
.services .serv-content{
    display: flex;
    margin-top: 30px;
    padding-bottom: 25px;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    margin: 0 15px;
    background: #fdf9f9;
    text-align: center;
    border-radius: 70px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.services .serv-content .card:hover{
    color: #0940f5;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: #131212ef;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #1a11d4;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.Info-section{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
    text-align: center;
}
.Info-section img{
    height: 400px;
   
    
}   
.text-4 h3{
   padding-left: 400px;
   position: relative;
   font-weight: bold;
   color:blue;
}
.text-4 p{
    justify-content: center;
}